body {
  padding-top: 70px;
}
#logo{
	height:30px;
}

#labor-deleted-btn-show{
	margin:10px 2%;
	width:45%;
}

#labor-btn-add,#labor-btn-loan,#labor-btn-show{
	margin:10px 1%;
	width:29%;
}

#labor-table thead tr th{
	text-align: center;
}

#labor-table tbody tr td{
	text-align: center;
	vertical-align: middle;
}

#labor-table thead tr th:first-child{
	width:5%;
}

#labor-table thead tr th:nth-child(2){
	width:10%;
}

#labor-table thead tr th:nth-child(3){
	width:25%;
}

#labor-table thead tr th:nth-child(4){
	width:5%;
}

#labor-table thead tr th:nth-child(4){
	width:5%;
}

#labor-table thead tr th:nth-child(4){
	width:10%;
}

#labor-table thead tr th:nth-child(4){
	width:15%;
}

#labor-table thead tr th:nth-child(4){
	width:15%;
}

#labor-form-btn-search{
	margin:10px 2%;
	width:25%;
}

#labor-form-text-id{
	margin:10px 2%;
	width:65%;
}

.attendance-name-list{
	display: inline-block;
	width:100%;
}


#site-btn-add,#trade-btn-add{
	margin-bottom: 10px;
	width: 100%;
}

#user-btn-edit,#user-btn-delete{
	width: 49%;
}

.trade-tools{
	width: 20%;
}

#att-list-text-search{
	width: 70%;
}

#att-list-btn-search{
	width: 25%;
}

#submit-attendance{
	width: 100%;
	margin-top:30px;
}

#attendance-table-wrap{
	width: 100%;
	overflow: scroll;
	margin-top: 20px;
	height: 470px;
	text-align: center;
}

#attendance-table{
	margin: 0 auto;
	border-collapse: collapse;
	table-layout: fixed;
}

#attendance-table, #attendance-table th, #attendance-table td {
    border: 1px solid #777;
    text-align: center;
}

#attendance-table th{
	text-align: center;
	background-color: #0033CC;
	color:#fff;
}

#attendance-table td:last-child{
	text-align: right;
	padding:0 5px;
	background-color: #FF1919;
	color:#fff;
}

#attendance-table .site-row{
	font-size: 10px;
}

.labor-stripe td{
	background-color: #ccc;
}

tr[id^=labor] td:last-child{
	background-color: #ccc !important;
	color: black !important;
	text-align: center !important;
}

tr[id^=labor]:nth-child(odd) td{
	background-color: #fff !important;
}

#table-head th:first-child{
	min-width:50px;
}
#table-head th:nth-child(2){
	min-width:110px;
}
#table-head th:nth-child(3){
	min-width:100px;
}
#table-head th:nth-child(4){
	min-width:100px;
}
.total-head{
	min-width: 70px;
}
.salary-head{
	min-width: 100px;
}

a[class^='att_entry']{
	display: inline-block;
	color:black;
	width: 25px;
	padding: 5px 0;
	text-align: center;
	font-size: 10px;
}
a[class^='att_entry']:hover{
	text-decoration: none;
	background-color: #000;
	color: #fff;
}

a[class^='att_entry']:focus{
	text-decoration: none;
	outline: none;
}

#attendance-table tr#table-head-clone{
	position: fixed;
}

.bordered-bottom{
	border-bottom: 2px solid #555 !important;
}

.cell-bold{
	font-weight:bold !important;
	background-color: #FF4D4D !important;
	font-size: 18px !important;
}
.site-btn-delete,.trade-btn-delete,.labor-btn-delete,.holiday-btn-delete{
	background-image: url('/images/glyph-delete.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.site-btn-edit,.trade-btn-edit,.labor-btn-edit,.holiday-btn-edit{
	background-image: url('/images/glyph-edit.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.site-btn-delete,.trade-btn-delete,.site-btn-edit,.trade-btn-edit,.labor-btn-edit,.labor-btn-delete,.holiday-btn-edit,.holiday-btn-delete{
	width: 100%;
	display: inline-block;
	height: 35px;
}
#trade-table td:last-child,#site-table td:last-child,#holiday-table td:last-child{
	width: 12%;
}
#trade-table td:nth-child(2),#site-table td:nth-child(2),#holiday-table td:nth-child(2){
	width: 12%;
}

#filter-form label{
	display: inline-block;
	width: 160px;
	text-align: right;
	padding: 0 10px;
}
#filter-form label.cb-label{
	width: 300px;
	text-align: left;
}
.filter-form-text{
	width: 150px !important;
	display: inline-block !important;
}
#btn-make-xls,#btn-filter-att,#btn-summary{
	display: inline-block;
	width: 80px;
	height: 40px;
	background-image: url('/images/glyph-download.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 20px;
	border-bottom: 5px solid grey;
}
#btn-make-xls:active,#btn-filter-att:active,#btn-summary:active{
	margin-top: 20px;
	border-bottom: 1px solid grey;
}
#btn-make-xls:focus,#btn-filter-att:focus,#btn-summary:focus{
	outline: none;
	background-color: #fff;
	border:1px solid #ccc;
	border-bottom: 5px solid grey;
}
#loader-icon{
	outline: 1px solid white;
	border:1px solid white;
}

#loader-icon-small{
	outline: 1px solid white;
	border:1px solid white;
	width: 150px;
}
#btn-filter-att{
	background-image: url('/images/glyph-filter.png');
	margin-right: 10px;
}
#btn-summary{
	background-image: url('/images/glyph-summary.png');
	margin-right: 10px;
}
.filled-up{
	color:white !important;
	font-weight: bold !important;
	font-size: 18px !important;
	display: block;
	text-align: left;
}

.not-filled-up{
	color:black !important;
	font-size: 18px !important;
	display: block;
	text-align: left;
}

.show-att-btn{
	margin:10px 0;
}

#search-form{
	margin:15px 0;
}

input[name=ot],input[name=bot]{
	width:10%;
}

.cancel,.done,.btn-remove,.btn-edit{
	width:15%;
}

.submit-att{
	width:20%;
}

.labor-name{
	display: inline-block;
	width:40%;
	height:35px;
	border: 1px solid #999;
	padding:3px 3px;
	overflow: hidden;
	position: relative;
	top:12px;
	text-align:left;
	line-height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-att{
	width:50%;
	overflow:hidden;
	text-align:left;
}

#filled input[type=text],#unfilled input[type=text]{
	display: inline-block;
	height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#filled-options a,#unfilled-options a{
	display: inline-block;
	border:1px solid #999;
	border-radius: 15%;
	padding:5px 8px;
	margin-bottom: 10px;
}

#filled-options a:last-child{
	margin-left: 20px;
}

#filled-options a:last-child:hover,#filled-options a:last-child:focus{
	text-decoration: none;
}

div[data-id]{
	margin-bottom: 5px;
	text-align: center;
}

#tabs ul li{
	text-align: center;
	width:49%;
}
#tabs ul li a{
	display: inline-block;
	width: 100%;
}
#tabs ul li a:focus{
	outline: none;
}
#tabs ul li:first-child a{
	height: 40px;
}

.site-wrap{
	margin-bottom: 10px;
}

.site-wrap a{
	display: inline-block;
	width: 100%;
	height: 50px;
	text-align: left;
	line-height: 35px;
	overflow: hidden;
}

/*Close button on jquery dialog*/
.ui-dialog-titlebar-close {
  visibility: hidden;
}
